* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(27, 3, 65);
}

.calculator {
  position: relative;
  display: grid;

}

.calculator .value {
grid-column: span 4;
  height: 100px;
  text-align: right;
  font-size: 18px;
}

.calculator span {
  display: grid;
  width: 110px;
  height: 110px;
  color: #fff;
  background: rgb(116, 2, 116);
  place-items: center;
  border: solid rgba (0,0,0,.1);

}

.calculator span:active {
  background: #d696f3;
  color: #111;
}

.calculator span.clear {
  grid-column: span 2;
  min-width: 110px;
  background: #1ec4ee;
}

.calculator span.plus {
  grid-row: span 2;
  min-height: 110px;

}

.calculator span.equal {
  background: #16df52;
}