* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(27, 3, 65);
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
}

.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  background: rgb(116, 2, 116);
  place-items: center;
  border: 1px solid rgba (0,0,0,.1);

}

.calculator span:active {
  background: #d696f3;
  color: #111;
}

.calculator span.clear {
  grid-column: span 2;
  width: 120px;
  background: #1ec4ee;
}

.calculator span.plus {
  grid-row: span 2;
  height: 120px;

}

.calculator span.equal {
  background: #16df52;
}